body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #606c76;
    color: white;
    padding: 1em;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #e2e2e2;
    margin-top: 2em;
}
